@garden-border-radius-50: 50%;
@garden-border-radius-5px: 5px;

@margin: 18px;

@button-border-radius: 10px;
@dangerousbutton-background-color: #ff4d4f;
@dangerousbutton-color: #ff4d4f;
@ordinaryButton-background-color: #33a1fa;
@ordinaryButton-color: white;

@dot-width: 18px;
@dot-height: 18px;
@dot-border-radius: 9px;

@smallButton-width: 24px;
@smallButton-height: 24px;

@middleButton-width: 100px;
@middleButton_height: 40px;

@menu-width: 250px;
@interval: 12px;
.menu {
  box-shadow: 2px 2px 9px 2px #999;
  width: @menu-width;
  height: 214px;
  border: solid 1px;
  text-align: center;
}

.menu > div {
  padding: @interval;
}
.menu > div > * {
  margin-right: @interval;
}
.menu > input {
  width: 212px;
  height: 34px;
  font-size: 12px;
}
.menuHeadline {
  border-bottom: 1px solid;
  margin-bottom: @interval;
}

@menuSearch-width: 250px;
.menuSearch {
  width: @menuSearch-width;
  box-shadow: 2px 2px 9px 2px #999;
  border: solid 1px;
}
.menuSearch > input {
  width: @menuSearch-width;
  border-style: none;
  height: 28px;
}

.garden {
  border-radius: 12px;
  width: 24px;
  height: 24px;
  border-style: none;
  padding: 0px;
}

.garden:parent {
  margin: 0;
  padding: 0;
}

.garden-border-radius-5px {
  border-radius: @garden-border-radius-5px;
}

.button {
  border-radius: @button-border-radius;
}

.dot {
  width: @dot-width;
  height: @dot-height;
  border-radius: @dot-border-radius;
  border-style: none;
}

.smallButton {
  width: @smallButton-width;
  height: @smallButton-height;
}

.middleButton {
  width: @middleButton-width;
  height: @middleButton_height;
}

.dangerousButton {
  color: @dangerousbutton-color;
  background-color: white;
  border-color: @dangerousbutton-background-color;
  border-width: 2px;
  border-style: solid;
  .garden-border-radius-5px;
}

.ordinaryButton {
  background-color: @ordinaryButton-background-color;
  color: @ordinaryButton-color;
  .garden-border-radius-5px;
  border-style: none;
}
